*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
    font-family:'Poppins', sans-serif;
    background: linear-gradient(90deg, #dd2f4c 0%, #ecbb51 100%);
}

body h1{
	font-size: 80px;
	color:white;
	text-shadow: 2px 2px 8px #FF0000;
	text-align: center;
	padding: 0.5em 0;
}

#container-tabuleiro{
	width:630px;
	height:470px;
	margin:auto;
	display:grid;
	grid-gap:10px;
	grid-template-columns: repeat(auto-fit, minmax(150px, 150px));
	grid-auto-rows:minmax(150px, 150px);
}

.cartas{
	background-color: white;
	height: 150px;
	width: 150px;
	cursor:pointer;
	animation:1s;
}

.cartas:hover{
	box-shadow: 3px 3px 10px #424242;
}

.imagens1, .imagens2, .imagens3, .imagens4, .imagens5, .imagens6{
	height:150px;
	width: 150px;
}

.imagens1{
	background-image: url(1.jpeg);
}

.imagens2{
	background-image: url(2.jpeg);
}

.imagens3{
	background-image: url(3.jpeg);
}

.imagens4{
	background-image: url(4.jpeg);
}

.imagens5{
	background-image: url(5.jpeg);
}

.imagens6{
	background-image: url(6.jpeg);
}